# Spreedly MCP Server Environment Variables
#
# Get your credentials from the Spreedly dashboard:
# https://docs.spreedly.com/basics/credentials/

SPREEDLY_ENVIRONMENT_KEY=your_environment_key_here
SPREEDLY_ACCESS_SECRET=your_access_secret_here
